* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    padding-top: 70px;
    padding-bottom: 60px 
}

.barra-topo {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 1px; 
    z-index: 1000;
}

.logo-topo {
    font-size: 18px;
    font-weight: bold;
}

.menu-topo a {
    text-decoration: none;
    color: white;
    margin-left: 15px;
    padding: 8px 14px;
    border: 1px solid rgb(94, 23, 235);
    border-radius: 8px;
    transition: 0.3s;
}

.menu-topo a:hover {
    background-color: rgb(94, 23, 235);
    border-color: rgb(255, 255, 255);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}


main {
    text-align: center;
    padding: 40px 20px;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 30px;
}


